# Training Python Basic and Specific use case for Mapops

# What is Python?

# DescriptionPython is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991

## I. Python Basic

In [ ]:
https://docs.python.org/3/tutorial/index.html

In [ ]:
with Window 
linux like ubuntu or mac 
open terminal and type python3

### 1. Type Data
- Number  - add - subtract - multiply - power - divide - slash - float - Floor division - Remainder(%) 
- String  - strip - split
- List - get one [-1] - https://projecteuler.net/problem=16 - .sort(reverse=True)
- Tuple - blockchain - immutable
- Dict - Json

In [ ]:
integer - float

# add

In [8]:
11483957196578324657863257834659623652836528936531111 + 12487584371558723489567823659823893478925738597342987589423785932489653742678162482634

12487584371558723489567823659823904962882935175667645452681620592113306579207099013745

# subtract

In [9]:
73219423798 -87892137492189374891234

-87892137492116155467436

In [10]:
9579342675863248769 - 83475892738957982347678632856234

-83475892738948403005002769607465

# multiply

In [11]:
89478592743897589327 * 8437589237589724397582734957834

754983611130584306338187158764279530896283593437718

# power

In [13]:
2 ** 2

4

In [14]:
3 ** 3

27

In [ ]:
float

In [15]:
3.4

3.4

# divide

In [16]:
8 / 2

4.0

In [17]:
90823490832 / 324234

280117.1093469531

In [ ]:
/ - slash 
\ - back slash

# Floor division

In [33]:
9 // 3

3

In [26]:
a = [1,2,3,4,5,6,7,8,9]

2
4
6
8

# Remainder

In [22]:
9 % 3

0

In [32]:
for i in a:
    if i % 2 == 0:
        print(i)

2
4
6
8

In [24]:
10 % 3

1

In [ ]:
if today is wed, what day after 100days is?

In [ ]:
2 3 4 5 6 7 S
    i
        i

In [25]:
100 % 7

2

# String

In [35]:
a = 'today is friday'

In [36]:
a.split()

['today', 'is', 'friday']

In [37]:
a[0]

't'

In [ ]:
012345678910
today is friday

In [38]:
a[1:]

'oday is friday'

In [39]:
a[2:5]

'day'

In [40]:
a[4:9]

'y is '

In [41]:
a[::-1]

'yadirf si yadot'

In [48]:
a = int(input("Input your number: "))

Input your number: 10

In [49]:
type(a)

int

In [44]:
b = 3

In [50]:
b = 3

In [51]:
d = str(b)

In [53]:
d

'3'

In [52]:
type(d)

str

In [45]:
type(b)

int

In [46]:
c = 3.0

In [47]:
type(c)

float

# List

In [55]:
a = [1,2,3,4,5,6,7,8,9,'a','b','c',['a','b','c']]

In [56]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', ['a', 'b', 'c']]

In [73]:
a[0]=3

In [60]:
a[1]

2

In [63]:
a[::-1]

[['a', 'b', 'c'], 'c', 'b', 'a', 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
b = [1,2,3,4,5,6,7,34,2,23,3]

In [70]:
b.sort(reverse=True)

In [71]:
b

[34, 23, 7, 6, 5, 4, 3, 3, 2, 2, 1]

In [74]:
a = [1,2,3,4,5]

In [75]:
a[0] = 10

In [77]:
a

[10, 2, 3, 4, 5]

# Tuple

In [79]:
a = (12,34)

In [83]:
b=(12,34,54,76)

In [82]:
a[1]=3

TypeError: 'tuple' object does not support item assignment

# Dict - Json

In [84]:
a = {"name":"Khang", "age":18}

In [85]:
a['name']

'Khang'

In [86]:
a['age']

18

In [92]:
import json

In [94]:
f = open('workfile', 'w')

In [100]:
f.write(str(a))

28

In [101]:
f.close()

### 2. Loop  for - while

In [ ]:
for and while

In [107]:
a = list((range(11)))

In [108]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [109]:
total = 0
for i in range(1001):
    total = total + i

In [111]:
total

500500

In [113]:
student = ["Khang", "Nghĩa", "Thành", "Tân", "Thư", "Tuấn", "Anh"]

In [114]:
for i in student:
    print(i + " work hard")

Khang work hard
Nghĩa work hard
Thành work hard
Tân work hard
Thư work hard
Tuấn work hard
Anh work hard

In [116]:
for i in student:
    print("{} work hard and beautiful".format(i))

Khang work hard and beautiful
Nghĩa work hard and beautiful
Thành work hard and beautiful
Tân work hard and beautiful
Thư work hard and beautiful
Tuấn work hard and beautiful
Anh work hard and beautiful

In [ ]:
i = 0
while i < 18:
    print('study')
    print('get one years')
    i = i + i

### 3. If else elif

In [1]:
a = 5

In [2]:
if a > 8:
    print("good")
else:
    print("not good")

not good

In [ ]:
Write a program that prints the numbers from 1 to 100.
But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”.
For numbers which are multiples of both three and five print “FizzBuzz”.

In [3]:
total = list(range(1,101))

In [5]:
i = 3

In [6]:
i == 3

True

In [8]:
i != 4

True

In [9]:
for i in total:
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 4. Functions

In [12]:
def hello():
    print("Hello world, I am Khang, from Map ops")
    print("Iam 18")

In [14]:
hello()

Hello world, I am Khang, from Map ops
Iam 18

In [15]:
a = [1,2,3,4,5]

In [16]:
sum(a)

15

In [17]:
def sum_three(a,b,c):
    return a + b +c

In [18]:
sum_three(1,2,3)

6

In [19]:
sum_three(5,6,7)

18

In [20]:
def get_input():
    name = input("Input your name: ")
    age = input("Input your age: ")
    phonenumber = input("Input your phonenumber: ")
    return name, age, phonenumber

In [21]:
get_input()

Input your name: khang
Input your age: 18
Input your phonenumber: 090909009

('khang', '18', '090909009')

In [24]:
student = get_input()

Input your name: khang
Input your age: 18
Input your phonenumber: 0909090909

In [25]:
student

('khang', '18', '0909090909')

### 5. Lib

In [26]:
import math

In [29]:
import numpy, pandas, matplotlib

0.9092974268256817

In [ ]:
pip install numpy

## II. Python Requests

### 1. What is python request?

### 2. How to use request

### 3. How to get data from Google or OSM

### 4. Save data

### 5. Specific use case for Mapops

## III. Tools

### 1. Outline tool

### 2. What in it?

### 3. Run tools